<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles/styles.css" />
        <link rel="stylesheet" href="styles/index.css" />
        <%- include("components/_meta.ejs") -%>
        <title>RizYtmp3Dl</title>
    </head>
    <body>
        <%- include("components/_navbar.ejs", {title: "MP3 Downloader"}) -%>
        <main>
            <form action="/result" method="GET" class="flex-column">
                <label for="i-url">Search</label>
                <span class="d-flex justify-content-center align-items-center form-span">
                    <input type="url" name="url" id="i-url" class="form-control" required placeholder="https://youtu.be/url_here" size="30" />
                    <button class="mx-2" type="submit">Search</button>
                </span>
            </form>
        </main>
        <%- include("components/_footer.ejs") -%>
    </body>
</html>
