<footer>
    <div class="svg-separator"></div>
    <div class="svg-into"></div>

    <div class="footer-container">
        <div class="contact">
            <a href="https://github.com/mangadi3859" class="footer-item"> <img src="images/github-logo.png" alt="" /></a>
            <a href="httpa://wa.me/6281337614453" class="footer-item"> <img src="images/whatsapp-logo.png" alt="" /></a>
            <a href="https://discord.gg/HxAWqm6" class="footer-item"> <img src="images/discord_logo.svg" alt="" /></a>
            <a href="https://www.youtube.com/channel/UC7UD-dOQ4Y017-oYv5IaSpg" class="footer-item"> <img src="images/youtube_logo.svg" alt="" /></a>
        </div>
        <hr />

        <div class="footer-desc">
            <p class="footer-desc-title">Made by</p>
            <p class="footer-creator">RizFurr</p>
            <p class="footer-desc-title">With:</p>
            <div class="footer-list">
                <a href="https://www.ffmpeg.org"><img src="images/ffmpeg-logo.svg" alt="" /></a>
                <a href="https://nodejs.org"><img src="images/nodejs-logo.png" alt="" /></a>
                <a href="https://www.typescriptlang.org"><img src="images/ts-logo.svg" alt="" /></a>
            </div>
        </div>
        <p class="footer-desc-title">&#169; Copyright 2021 - 2022</p>
    </div>
</footer>
