<footer>
     <div class="svg-separator"></div>
      <div class="svg-into"></div> 
       <div class="footer-container">
        <div class="contact">
             <a href="https://github.com/RizFurrs" class="footer-item"> <img src="images/github-logo.png" alt="" /></a>
             <a href="httpa://wa.me/6282196930963" class="footer-item"> <img src="images/whatsapp-logo.png" alt="" /></a>
             <a href="https://discord.gg/" class="footer-item"> <img src="images/discord_logo.svg" alt="" /></a>
             <a href="https://www.youtube.com/c/ꟻXͶTVꙄY" class="footer-item"> <img src="images/youtube_logo.svg" alt="" /></a>
        </div>
        
        </div>
</footer>


