<!-- Google Tag Manager (noscript)
-->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFMTZVL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!--
End Google Tag Manager (noscript) -->
<footer>
    <div class="svg-separator"></div>
    <div class="svg-into"></div>

    <div class="footer-container">
        <div class="contact">
            <a href="https://github.com/RizzOwO" class="footer-item"> <img src="/images/github-logo.png" alt="" /></a>
            <a href="httpa://wa.me/62895335475457" class="footer-item"> <img src="/images/whatsapp-logo.png" alt="" /></a>
            <a href="https://dsc.gg/zacros" class="footer-item"> <img src="/images/discord_logo.svg" alt="" /></a>
            <a href="" class="footer-item"> <img src="/images/youtube_logo.svg" alt="" /></a>
        </div>
        <hr />

        <div class="footer-desc">
            <p class="footer-desc-title">Created by:</p>
            <p class="footer-creator">Rizz</p>
            <p class="footer-desc-title">With:</p>
            <div class="footer-list">
                <a href="https://www.ffmpeg.org"><img src="/images/ffmpeg-logo.svg" alt="FFmpeg" /></a>
                <a href="https://nodejs.org"><img src="/images/nodejs-logo.png" alt="NodeJS" /></a>
               <a href="typescriptlang.org"><img src="/images/ts-logo.svg" alt="Typescript" /></a>
            </div>
        </div>

        <p class="copy-claim footer-desc-title">&#169; Copyright 2022</p>
    </div>
</footer>